<div class="row">
  <div class="col-4">
    <h2>Registered Employees</h2>
    <ul>
      <% @employees.each do |employee| %>
          <li>
            <%= link_to employee.name, employee %>
          </li>
      <% end %>
    </ul>
    <%= link_to "Add New Employee",new_employee_path %><br>
    <%= link_to "Back", root_path %>
  </div>
  <div class="col-4"></div>
  <div class="col-4"></div>
</div>
