<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <h2>Add New Article</h2>
    <%= render "form", article: @article %>
    <%= link_to 'Back', articles_path,class: "link-success" %>
  </div>
  <div class="col-4"></div>
</div>
