<div class="row">
  <div class="col-4">
    <h2>Registered Users</h2>
    <ul>
      <% @userrs.each do |u| %>
          <li>
            <%=  link_to u.name, u %> 
          </li>
      <% end %>
    </ul>
    <%= link_to 'Add New User', new_userr_path %><br>
    <%= link_to "Back", root_path %>
  </div>
  <div class="col-4"></div>
  <div class="col-4"></div>
</div>
