<div class="row">
  <div class="col-4">
    <h2>Image Name</h2>
    <% @company.pictures.each do |image| %>
  <div class="col-4">
    <%= image.name%>
  </div>
  <div class="col-4">
    <%= image_tag url_for(image.attachment.variant(resize_to_limit: [200, 200]).processed ) if image.attachment.attached? %>
  </div>
<% end %>

   
  </div>
  <div class="col-4"></div>
  <div class="col-4"></div>
</div>
