<div class="row">
  <div class="col-4">
    <h2>This Category Product</h2>
    <ul>
      <% @category.products.each do |product| %>
        <li>
          <%= product.name%>
        </li>
      <% end %>
    </ul>
    <%= link_to "Destroy", category_path(@category),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %><br>
    <%= link_to "Back", categories_path %>
  </div>
  <div class="col-4"></div>
  <div class="col-4"></div>
</div>
