<div class="row">
  <div class="col-4">
    <h2>Registered Products</h2>
    <ul>
      <% @products.each do |product| %>
          <li>
            <%= link_to product.name, product %>
          </li>
      <% end %>
    </ul>
    <%= link_to 'Add New Product', new_product_path %><br>
    <%= link_to "Back", root_path %>
  </div>
  <div class="col-4"></div>
  <div class="col-4"></div>
</div>
